<div class="container mb-5">
<div class="card p-4 rounded shadow-lg mb-4">
  <%= simple_form_for(@user) do |f| %>
    <div class="row justify-content-center align-items-center">
      <div class="circular-img-uploader d-flex flex-column align-items-center">
        <%= render PictureUploaderComponent.new(form: f, image: user&.foto, fallback: "avatar-empty.png") %>
        <% if @user.persisted? %>
          <p class="m-2 text-gray-500">Cambiar foto</p>
        <% else %>
          <p class="m-2 text-gray-500">Subir foto</p>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-6">
        <%= f.input :nombre, placeholder: "Nombre", label: false %>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <%= f.input :apellido, placeholder: "Apellido", label: false  %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-6">
        <%= f.input :alumnonombrecompleto, placeholder: "Nombre del 1er alumno", label: false %>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <%= f.input :alumnonombrecompleto1, placeholder: "Nombre del 2do alumno", label: false  %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-6">
        <%= f.input :telefono, placeholder: "Teléfono", label: false %>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <%= f.input :direccion, placeholder: "Dirección", label: false  %>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
      <%= f.submit "Guardar cambios", id:"Sign-up-btn", class: "btn btn-outline-dark btn-soft profile-btn w-75 btn-sm" %>
      <%= link_to "Atrás", user_path, class:"register-btn mt-3" %>
    </div>
  <% end %>
</div>
</div>
